@{
    ViewData["Title"] = "About Us";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="container row">
    <div class="col-md-8">
        <dl class="row">
            <dt class="col-md-6">
                Company Name
            </dt>
            <dd class="col-md-6">
                Everything Shop Co.
            </dd>
            <dt class="col-md-6">
                Our Address
            </dt>
            <dd class="col-md-6 text-break">
                Univerzitná 8215/1, 010 26 Žilina, Slovakia
            </dd>
            <dt class="col-md-6">
                Support Contact
            </dt>
            <dd class="col-md-6">
                support@everythingshop.com
            </dd>
            <dt class="col-md-6">
                Telephone Number
            </dt>
            <dd class="col-md-6">
                +421-56-425 5868
            </dd>
            <dt class="col-md-6">
                Fax
            </dt>
            <dd class="col-md-6">
                +421-41-513 4055
            </dd>
            <dt class="col-md-6">
                GPS
            </dt>
            <dd class="col-md-6">
                49°12'6,4"N 18°45'42,6"E
            </dd>
        </dl>

        <h5>OPENING HOURS</h5>
        <dl class="row">
            <dt class="col-md-6">Monday</dt>
            <dd class="col-md-6">8:00 - 16:00</dd>
            <dt class="col-md-6">Tuesday</dt>
            <dd class="col-md-6">8:00 - 16:00</dd>
            <dt class="col-md-6">Wednesday</dt>
            <dd class="col-md-6">8:00 - 16:00</dd>
            <dt class="col-md-6">Thursday</dt>
            <dd class="col-md-6">8:00 - 16:00</dd>
            <dt class="col-md-6">Friday</dt>
            <dd class="col-md-6">8:00 - 16:00</dd>
            <dt class="col-md-6">Saturday and Sunday</dt>
            <dd class="col-md-6">Closed</dd>
        </dl>
    </div>

    <div class="col-md-4 justify-content-xl-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2606.9231489118592!2d18.762618493257946!3d49.20201742913357!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471459479ebe78cd%3A0x5794f873537c6ba9!2sFaculty%20of%20Management%20Science%20and%20Informatics!5e0!3m2!1sen!2ssk!4v1610644064717!5m2!1sen!2ssk"
                width="350" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>
