@model SubCategory

@{
    ViewData["Title"] = Model.Name;
}

<h1>Sub-Category</h1>
<hr />

<div class="row justify-content-md-center">
    <div class="col-md-8">
        <form asp-action="SubCategoryEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MainCategoryId" class="control-label"></label>
                <select asp-for="MainCategoryId" class="form-control" asp-items="ViewBag.MainCategories" disabled="@Model.Deleted"></select>
                <span asp-validation-for="MainCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" disabled="@Model.Deleted" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            @if (!Model.Deleted)
            {
                <div class="row justify-content-md-end px-2">
                    <div class="col-md-2 m-2 p-0">
                        <a href="#" class="btn btn-primary w-100" onClick="goToPreviousPage()">Back</a>
                    </div>
                    <div class="col-md-2 m-2 p-0">
                        <a class="btn btn-primary w-100" asp-action="SubCategoryDelete" asp-route-id="@Model.Id">Delete</a>
                    </div>
                    <div class="col-md-2 m-2 p-0">
                        <input type="submit" value="Save" class="btn btn-success w-100" />
                    </div>
                </div>
            }
            else
            {
                <div class="text-center">
                    <h5 class="text-danger">This category was deleted.</h5>
                </div>
            }

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
